{% extends "InamikaBackOfficeBundle::layout.html.twig" %}
{% block body %} 
{{ parent()}}     
{{ form_start(form, {'attr': {'class': 'form-material sendToApi','novalidate':'novalidate'} }) }}
    <div class="form-body">
        <h3 class="card-title">{{ 'GENERAL_DATA' | trans }}</h3>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    {{form_label(form.emailOrders)}}
                    {{form_widget(form.emailOrders)}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{form_label(form.emailCotizations)}}
                    {{form_widget(form.emailCotizations)}}
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> {{ 'SAVE' | trans }}</button>
        <button type="button" class="btn btn-inverse" onclick="location.href='{{ path('inamika_backoffice_homepage') }}'">{{ 'CANCEL' | trans }}</button>
    </div>
{{ form_end(form) }}
{% endblock body %}
{% block javascripts %} 
{{ parent() }}
<script>
    function beforeSuccess(){
        loading.hide();
        $.toast({
            heading: '{{ 'SUCCESS' | trans }}',
            text: '{{ 'SUCCESS_TEXT' | trans }}',
            position: 'top-right',
            icon: 'success',
            hideAfter: 3000, 
            stack: 6
        });
    }
</script>
{% endblock javascripts %}
