{{ form_start(form, {'attr': {'class': 'form-material sendToApi','novalidate':'novalidate'} }) }}
    <div class="form-body">
        <h3 class="card-title">{{ 'GENERAL_DATA' | trans }}</h3>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    {{form_label(form.name)}}
                    {{form_widget(form.name)}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{form_label(form.description)}}
                    {{form_widget(form.description)}}
                </div>
            </div>
        </div>
        <h3 class="card-title cursor-pointer" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">{{ 'PICTURE' | trans }}</h3>
        <hr>
        <div class="collapse show" id="collapseMap">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {% if entity is defined and entity.picture %}
                            {{form_widget(form.picture,{ attr: { 'data-default-file': asset('uploads/lg/' ~ entity.picture) }})}}
                        {% else %}
                            {{form_widget(form.picture)}}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> {{ 'SAVE' | trans }}</button>
        <button type="button" class="btn btn-inverse" onclick="cancell()">{{ 'CANCEL' | trans }}</button>
    </div>
{{ form_end(form) }}
