<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="form-group">
			<h4 class="card-title">{{ 'NAME' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.name }}</h5>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<h4 class="card-title">{{ 'DESCRIPTION' | trans }}</h4>
			<p class="card-subtitle">{{ entity.description | nl2br }}</p>
		</div>
	</div>
	{% if entity.picture %}
	<div class="card w-100">
		<div class="card-body">
			<img class="card-img-top" src="{{ asset('uploads/lg/' ~ entity.picture) }}" alt="">
		</div>
	</div>
	{% endif %}
</div>
