<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'NAME' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.name }}</h5>
		</div>
	</div>
	<div class="col-md-6 col-lg-2">
		<div class="form-group">
			<h4 class="card-title">{{ 'SALIENT' | trans }}</h4>
			<h5 class="card-subtitle">
				{% if entity.isSalient %}
					<span class="badge badge-pill badge-success">{{ 'YES' | trans }}</span>
				{% else %}
					<span class="badge badge-pill badge-danger">{{ 'NO' | trans }}</span>
				{% endif %}
			</h5>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<h4 class="card-title">{{ 'CODE' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.code }}</h5>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<h4 class="card-title">{{ 'PRICE' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.currency.symbol }} {{ entity.price }}</h5>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<h4 class="card-title">{{ 'DESCRIPTION' | trans }}</h4>
			<p class="card-subtitle">{{ entity.description }}</p>
		</div>
	</div>
	{% if entity.picture %}
	<div class="card w-100">
		<div class="card-body">
			<img class="card-img-top" src="{{ asset('uploads/lg/' ~ entity.picture) }}" alt="">
		</div>
	</div>
	{% endif %}
</div>
