<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ setting.getData.title }} {% if app.request.attributes.get('_route_params')._breadcrumbs is defined %} - {{ (app.request.attributes.get('_route_params')['_breadcrumbs']|last)['label'] | trans }}{% endif %}
    {% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  {% block stylesheet %}
  <link href="{{ asset('bundles/inamikafrontend/') }}img/u90.png" rel="icon">
  {# <link href="{{ asset('bundles/inamikafrontend/') }}img/apple-touch-icon.png" rel="apple-touch-icon"> #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('bundles/inamikafrontend/lib/animate/animate.min.css') }}" >
  <link rel="stylesheet" href="{{ asset('bundles/inamikafrontend/css/style.css') }}" >
  <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% endblock %}
  {% block javascripts_head %}
  {% endblock %}
</head>
<body>
  <a style="text-decoration:none;" href="https://api.whatsapp.com/send?phone={{ setting.getData.whatsapp }}" class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
  </a>
    <div id="loading">
      <div class='uil-ring-css' style='transform:scale(0.79);'>
        <div></div>
      </div>
    </div>
    <div class="modal fade" id="modalPopup" *ngIf="popup.notes.length > 0" tabindex="-1" role="dialog" aria-labelledby="modalPopupLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div id="carouselModal" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                
              </div>
              <div class="p-4">
                <button class="btn-carrousel btn rounded-circle btn-outline-primary mr-2" onclick="javascript:$('#carouselModal').carousel('prev')">
                  <i class="bi bi-chevron-left"></i>
                </button>
                <button class="btn-carrousel btn rounded-circle btn-primary" onclick="javascript:$('#carouselModal').carousel('next')">
                  <i class="bi bi-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block body %}
    {% endblock %}
    {{ include('InamikaFrontendBundle::footer.html.twig') }}
    {# <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> #}
    {% block javascripts %}
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/jquery/jquery.min.js"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/easing/easing.min.js"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/wow/wow.min.js"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/toast-master/js/jquery.toast.js') }}"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/jquery/jquery-migrate.min.js"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/waypoints/waypoints.min.js"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/counterup/counterup.min.js"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/superfish/hoverIntent.js"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}lib/superfish/superfish.min.js"></script>
    <script src="{{ asset('bundles/inamikafrontend/') }}js/main.js"></script>
    {% include 'InamikaFrontendBundle::_partials/popups.html.twig' with { route:app.request.get('_route') } %}
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script> 
    <script>
      var listCart=[];
      var totalCart=0;
      var loading={
        show: function (){
            return $("#loading").fadeIn();
        },
        hide: function (){
            return $('#loading').hide();
        }
      }
	  function preRequest(){ return {}}
	  function after200(){ return; }
	  function after401(){ return; }
	  function after404(){ return; }
	  function after500(){ errorGeneral() }

      function updateBadge(){
        totalCart=0;
        loadStorageCart();
        for (let i = 0; i < listCart.length; i++) {
          totalCart+=listCart[i].quantity*listCart[i].price;
        }
        $("#badgeQuantity").html(listCart.length);
        $("#badgeTotal").html("$ "+format(totalCart));
      }
      
      function loadStorageCart() {
        if (JSON.parse(localStorage.getItem("cart"))) {
          listCart = JSON.parse(localStorage.getItem("cart"));
        }
      }
      function saveStorageCart() {
        localStorage.setItem("cart", JSON.stringify(listCart));
      }
      function errorGeneral(){
        $.toast({
            heading: 'Ups!',
            text: `Ocurrió un error inesperado` ,
            position: 'bottom-right',
            icon: 'error',
            hideAfter: 3000
        });
      }
      $("a.beforeSpinner").on("click",function (){
        loading.show();
      })
      $(function (){ 
        updateBadge(); 
        $( "form.sendToApi" ).ajaxForm({
            dataType:'json',
            beforeSubmit: beforeSubmit
        });
        {% for message in app.session.flashBag.get('success') %}
        $.toast({
            heading: '{{ 'SUCCESS' | trans }}',
            text: '{{ message }}',
            position: 'bottom-right',
            icon: 'success',
            hideAfter: 3000, 
            stack: 6
        });
        {% endfor %}
        {% for message in app.session.flashBag.get('warning') %}
        $.toast({
            heading: '{{ 'WARNING' | trans }}',
            text: '{{ message }}',
            position: 'bottom-right',
            icon: 'warning',
            hideAfter: 3000, 
            stack: 6
        });
        {% endfor %}
        {% for message in app.session.flashBag.get('danger') %}
        $.toast({
            heading: '{{ 'ERROR' | trans }}',
            text: '{{ message }}',
            position: 'bottom-right',
            icon: 'error',
            hideAfter: 5000, 
            stack: 6
        });
        {% endfor %}
      });

      function format(num)
      {
        
        if(!isNaN(num)){
          num = num.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g,'$1.');
          num = num.split('').reverse().join('').replace(/^[\.]/,'');
          return num;
        }
      }

      function beforeSubmit(formData, form, options) {
        loading.show();
        var inputs=form.closest('form').find(':input:not(.dropify)');
        inputs.removeClass('is-invalid');
        inputs.next('small').html('');
        form.closest('form').find(':submit').attr('disabled',true);
		var data=preRequest();
		for (var i = formData.length - 1; i >= 0; i--) {
            data[formData[i].name]=formData[i].value;
        }
        
        $.ajax({
            url: form.attr("action"),
            type: ($('input[name="_method"]').length>0)?$('input[name="_method"]').val():form.attr("method").toUpperCase(),
            data:JSON.stringify(data),
            crossDomain: true,
            success: function(data) {
                after200(data);
            },  
            complete:function(){
				loading.hide();
                form.closest('form').find(':submit').attr('disabled',false);
            },
            error: function(data, status, error) {
				if(data.status==400){
					data.responseJSON.form=data.responseJSON.form.errors;
					$.each( data.responseJSON.form.children, function( index, item ){ 
						if(typeof item.errors != "undefined" && item.errors.length>0){
							$('form [name="'+index+'"]').addClass('is-invalid');
							$('form [name="'+index+'"]').after('<small class="text-danger">'+item.errors[0]+'</small>');
						}
					});
				}else if(data.status == 404){
					after404();
				}else if(data.status == 403){
					after403();
				}else if(data.status == 500){
					after500();
				}
			}
        });
        return false;
    }        
    
     $('.carousel.carousel-card .carousel-item').each(function(){
      var minPerSlide = 3;
      var next = $(this).next();
      if (!next.length) {
      next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));
      
      for (var i=0;i<minPerSlide;i++) {
          next=next.next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          
          next.children(':first-child').clone().appendTo($(this));
        }
  });
    </script>
    {% endblock %}
    </body>
</html>
