{% extends "InamikaFrontendBundle::layout.html.twig" %}
{% block body %}
{{ parent()}}
{{ render(controller('InamikaFrontendBundle:Utils:navbar',{ home:false , class:'no-fixed',route: app.request.get('_route') })) }}
<div class="container">
    <div class="account">
        <div class="row">
            <div class="col-md-3 menuUser p-4 pb-5">
                {{ render(controller('InamikaFrontendBundle:Utils:menuUser',{ route: app.request.get('_route')})) }}
            </div>
            <div class="col-md-9 action p-4">
                <div class="breadcrumb-custom">
                    <p>
                        <span><a class="beforeSpinner" href="{{ path('inamika_frontend_account_contratos')}}">Contratos activos</a> | Gestión de Residuos </span>
                    </p>
                </div>
                <hr>
                <h4 class="text-dark">Gestión de Residuos</h4>
                <div class="box-detail p-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Tipo de servicio</label>
                            <select class="rounded-pill form-control px-4 w-100" id="tipoServicio" name="tipoServicio" onchange="changeTipoServicio(this.value);">
                                <option value="0">Unidades Sanitarias</option>
                                <option value="1" selected="selected">Gestión de Residuos</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label>Nº de Contrato</label>
                            <input class="form-control rounded-pill px-4" id="id" value="{{ app.request.get('id') }}">
                        </div>
                        <div class="col-sm-3">
                            <label>&nbsp;</label><br/>
                            <button class="btn btn-block btn-primary btn-primary rounded-pill btn-primary px-5 " onclick="search()">Buscar</button>
                        </div>
                    </div>
                </div>
                <table class="table mt-4 table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Contrato Nº</th>
                            <th scope="col">Vigencia</th>
                            <th scope="col" class="text-center">Tipo de servicio</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="results">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent()}}
    <script>
        var url =[
            "{{ path('inamika_frontend_account_contratos') }}",
            "{{ path('inamika_frontend_account_convenios') }}"
        ];
        $(function (){
            getData();
        })
        function search(){
            loading.show();
            location.href='?id='+$("#id").val()+'&status='+$("#status").val();
        }
        function getData(){
            $("#results").html(`<tr><td colspan="4" class="text-center">No se encontraron resultados</td></tr>`);
            return;
        }
        function changeTipoServicio(val){
            loading.show();
            location.href=url[val];
        }
    </script>
{% endblock %}