{% extends "InamikaFrontendBundle::layout.html.twig" %}
{% block body %}
{{ parent()}}
{{ render(controller('InamikaFrontendBundle:Utils:navbar',{ home:false , class:'no-fixed',route: app.request.get('_route') })) }}
<div class="container">
    <div class="account">
        <div class="row">
            <div class="col-md-3 menuUser p-4 pb-5">
                {{ render(controller('InamikaFrontendBundle:Utils:menuUser',{ route: app.request.get('_route')})) }}
            </div>
            <div class="col-md-9 action p-4">
                <div class="breadcrumb-custom">
                    <p>
                        <span><a href="javascript:window.history.go(-1);">Mis pedidos</a> | #{{entity.id}}</span>
                    </p>
                </div>
                <hr>
                <div class="box-detail p-5" *ngIf="ready">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Id Pedido</label>
                            <p>#{{entity.id}}</p>
                        </div>
                        <div class="col-md-3">
                            <label>Total</label>
                            <p><b>$ {{ entity.totals[0].total | number_format(2, ',', '.') }}</b></p>
                        </div>
                        <div class="col-md-3">
                            <label>Estado</label>
                            <p><span class="badge badge-{{ entity.status.color }}">{{ entity.status.name }}</span></p>
                        </div>
                        <div class="col-md-3">
                            <label>Fecha</label>
                            <p>{{ entity.createdAt | date('d/m/Y H:i') }}</p>
                        </div>
                    </div>
                    <hr>
                    <table class="table mt-4 table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col" class="text-right">Precio</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i,item in entity.items %}
                              <tr>
                                <th scope="row">{{ i + 1}}</th>
                                <td>{{ item.product.name }}</td>
                                <td class="text-right">{{ item.product.currency.symbol }} {{ item.price | number_format(2, ',', '.') }}</td>
                                <td class="text-center">{{ item.quantity }}</td>
                                <td class="text-right">{{ item.product.currency.symbol }} {{ item.subtotal | number_format(2, ',', '.') }}</td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent()}}
    <script>
        $(function (){
            //getData();
        })
    </script>
{% endblock %}