{{ form_start(form, {'attr': {'class': 'form-material sendToApi','novalidate':'novalidate'} }) }}
    <div class="form-body">
        <h3 class="card-title">{{ 'GENERAL_DATA' | trans }}</h3>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    {{form_label(form.service)}}
                    {{form_widget(form.service)}}
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    {{form_label(form.clientName)}}
                    {{form_widget(form.clientName)}}
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    {{form_label(form.clientEmail)}}
                    {{form_widget(form.clientEmail)}}
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    {{form_label(form.clientPhone)}}
                    {{form_widget(form.clientPhone)}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{form_label(form.observation)}}
                    {{form_widget(form.observation)}}
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> {{ 'SAVE' | trans }}</button>
        <button type="button" class="btn btn-inverse" onclick="cancell()">{{ 'CANCEL' | trans }}</button>
    </div>
{{ form_end(form) }}
