<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="form-group">
			<h4 class="card-title">{{ 'SERVICE' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.service.name }}</h5>
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="form-group">
			<h4 class="card-title">{{ 'NAME' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.name }}</h5>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<h4 class="card-title">{{ 'DESCRIPTION' | trans }}</h4>
			<p class="card-subtitle">{{ entity.description | nl2br }}</p>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<h4 class="card-title">{{ 'SPECS' | trans }}</h4>
			<p class="card-subtitle">{{ entity.spec | nl2br }}</p>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<h4 class="card-title">{{ 'CONDITIONS' | trans }}</h4>
			<p class="card-subtitle">{{ entity.conditions | nl2br }}</p>
		</div>
	</div>
</div>
<h3 class="card-title">{{ 'AVAILABLE_FOR' | trans }}</h3>
<hr>
<div class="row ">
	<div class="col-md-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'FOR_HOME' | trans }}</h4>
			<h5 class="card-subtitle">
				{% if entity.forHome %}
					<span class="badge badge-pill badge-success">{{ 'YES' | trans }}</span>
				{% else %}
					<span class="badge badge-pill badge-danger">{{ 'NO' | trans }}</span>
				{% endif %}
			</h5>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'FOR_INDUSTRY' | trans }}</h4>
			<h5 class="card-subtitle">
				{% if entity.forIndustry %}
					<span class="badge badge-pill badge-success">{{ 'YES' | trans }}</span>
				{% else %}
					<span class="badge badge-pill badge-danger">{{ 'NO' | trans }}</span>
				{% endif %}
			</h5>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'FOR_EVENT' | trans }}</h4>
			<h5 class="card-subtitle">
				{% if entity.forEvent %}
					<span class="badge badge-pill badge-success">{{ 'YES' | trans }}</span>
				{% else %}
					<span class="badge badge-pill badge-danger">{{ 'NO' | trans }}</span>
				{% endif %}
			</h5>
		</div>
	</div>
</div>
<div class="row ">
	{% if entity.picture %}
	<div class="card w-100">
		<div class="card-body">
			<img class="card-img-top" src="{{ asset('uploads/lg/' ~ entity.picture) }}" alt="">
		</div>
	</div>
	{% endif %}
</div>
