<div class="mt-0 mb-2 mx-3">
    <i class="bi bi-person-circle" style="font-size: 5rem;"></i>
    <small> <a href="{{ path('inamika_frontend_account_profile') }}" class="text-white beforeSpinner">Editar perfil <i class="bi bi-pencil"></i></a></small>
    <p>
    {% if user.company %}
    {{ user.company }}
    {% else %}
    {{ user.name }}
    {% endif %}
    </br>
    <small style="font-weight: 100;">Rut: {{ user.document }}</small><br/>
    <small style="font-weight: 100;">{{ user.email }}</small></p>
    <hr style="border-color:#FFF;">
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item p-3">
        <a href="{{ path('inamika_frontend_account_contratos') }}" class="beforeSpinner my-1 p-2 pl-4 {% if 'inamika_frontend_account_convenio' in route or 'inamika_frontend_account_contratos' in route %}active{% endif %}">Contratos Activos</a>
    </li>
    <li class="list-group-item p-3">
        <a href="{{ path('inamika_frontend_account_orders') }}" class="beforeSpinner my-1 p-2 pl-4 {% if 'inamika_frontend_account_order' in route %}active{% endif %}">Mis Compras</a>
    </li>
    <li class="list-group-item p-3">
        <a href="{{ path('inamika_frontend_account_facturas') }}" class="beforeSpinner my-1 p-2 pl-4 {% if 'inamika_frontend_account_factura' in route %}active{% endif %}">Mis Facturas</a>
    </li>
    {% if user.role ==  'ROLE_CUSTOMER_SUPER'%}
    <li class="list-group-item p-3">
        <a href="{{ path('inamika_frontend_account_usuarios') }}" class="beforeSpinner my-1 p-2 pl-4 {% if 'inamika_frontend_account_usuario' in route %}active{% endif %}">Usuarios</a>
    </li>
    {% endif %}
    <li class="list-group-item p-3">
        <a href="{{ path('inamika_frontend_logout') }}" class="beforeSpinner my-1 p-2 pl-4" >Salir</a>
    </li>
</ul>