<!--==========================
  Header
  ============================-->
  <header id="header" class="{{ class }}">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="{% if home %}#hero{% else %}{{ path('inamika_frontend_homepage')}}{% endif %}"><img src="{{ asset('bundles/inamikafrontend/') }}img/MarcaUnisan.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu ">
            <li>
                <a href="#services">Para el Hogar</a>
                {% if data.forHome | length > 0 %}
                <ul >
                    {% for service in data.forHome %}
                        <li style="line-height: 50px;min-width: 300px;">
                            <a class="beforeSpinner" href="{{ path('inamika_frontend_service',{ section:'forHome' ,id: service.id })}}">
                                {% if service.picture %}
                                    <img src="{{ asset('uploads/') }}xs/{{ service.picture }}" class="circle"> 
                                {% else %}
                                    <img src="{{ asset('bundles/inamikafrontend/') }}no-foto.png" class="circle"> 
                                {% endif %}
                                {{ service.name }}
                            </a>
                            {% if service.models | length > 0 %}
                            <ul>
                                {% for model in service.models %}
                                    {% if model.forHome %}
                                        <li style="line-height: 50px;min-width: 300px;">
                                            <a class="beforeSpinner" href="{{ path('inamika_frontend_model',{ section:'forHome' ,id: model.id })}}"> 
                                                {% if model.picture %}
                                                    <img src="{{ asset('uploads/') }}xs/{{ model.picture }}" class="circle"> 
                                                {% else %}
                                                    <img src="{{ asset('bundles/inamikafrontend/') }}no-foto.png" class="circle"> 
                                                {% endif %}
                                                {{ model.name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="#services">Para la Industria</a>
                {% if data.forIndustry | length > 0 %}
                <ul>
                    {% for service in data.forIndustry %}
                        <li style="line-height: 50px;min-width: 300px;">
                            <a class="beforeSpinner" href="{{ path('inamika_frontend_service',{ section:'forIndustry' ,id: service.id })}}">
                                {% if service.picture %}
                                    <img src="{{ asset('uploads/') }}xs/{{ service.picture }}" class="circle"> 
                                {% else %}
                                    <img src="{{ asset('bundles/inamikafrontend/') }}no-foto.png" class="circle"> 
                                {% endif %}
                                {{ service.name }}
                            </a>
                            {% if service.models | length > 0 %}
                            <ul >
                                {% for model in service.models %}
                                    {% if model.forIndustry %}
                                        <li style="line-height: 50px;min-width: 300px;">
                                            <a class="beforeSpinner" href="{{ path('inamika_frontend_model',{ section:'forIndustry' ,id: model.id })}}"> 
                                                {% if model.picture %}
                                                    <img src="{{ asset('uploads/') }}xs/{{ model.picture }}" class="circle"> 
                                                {% else %}
                                                    <img src="{{ asset('bundles/inamikafrontend/') }}no-foto.png" class="circle"> 
                                                {% endif %}
                                                {{ model.name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li>
                <a href="#services">Para Eventos</a>
                {% if data.forEvent | length > 0 %}
                <ul>
                    {% for service in data.forEvent %}
                        <li style="line-height: 50px;min-width: 300px;">
                            <a class="beforeSpinner" href="{{ path('inamika_frontend_service',{ section:'forEvent' ,id: service.id })}}">
                                {% if service.picture %}
                                    <img src="{{ asset('uploads/') }}xs/{{ service.picture }}" class="circle"> 
                                {% else %}
                                    <img src="{{ asset('bundles/inamikafrontend/') }}no-foto.png" class="circle"> 
                                {% endif %}
                                {{ service.name }}
                            </a>
                            {% if service.models | length > 0 %}
                            <ul >
                                {% for model in service.models %}
                                    {% if model.forEvent %}
                                        <li style="line-height: 50px;min-width: 300px;">
                                            <a class="beforeSpinner" href="{{ path('inamika_frontend_model',{ section:'forEvent' ,id: model.id })}}"> 
                                                {% if model.picture %}
                                                    <img src="{{ asset('uploads/') }}xs/{{ model.picture }}" class="circle"> 
                                                {% else %}
                                                    <img src="{{ asset('bundles/inamikafrontend/') }}no-foto.png" class="circle"> 
                                                {% endif %}
                                                {{ model.name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li {% if 'inamika_frontend_product' in route %}{% endif %}>
                <a href="{{ path('inamika_frontend_products') }}" class="beforeSpinner">Tienda Online</a>
            </li>
            <li class="icon {% if 'inamika_frontend_account' in route %}menu-active{% endif %}" >
                {% if app.session.get('_security_main')  %}
                    <a href="{{ path('inamika_frontend_account_orders') }}" class="beforeSpinner p-0 " >
                    <span class="total-badge"><i class="bi bi-person" style="font-size: inherit;"></i></span>
                    Mi cuenta
                    </a>
                {% else %}
                    <a href="{{ path('inamika_frontend_login') }}" class="beforeSpinner p-0">
                    <span class="total-badge"><i class="bi bi-box-arrow-in-right" style="font-size: inherit;"></i></span>
                    Acceso clientes
                    </a> 
                {% endif %}
                {# <a *ngIf="loginService.user.id" href="/pedidos" class="p-0">
                <span class="total-badge"><i class="bi bi-person" style="font-size: inherit;"></i></span>
                Mi perfil
                </a> #}
            </li>
            <li class="icon">
                <a class="beforeSpinner" href="{{ path('inamika_frontend_cart') }}" class="p-0">
                    <span class="total-badge" id="badgeQuantity">0</span>
                    <span class="total" id="badgeTotal">
                        $ 0.00 
                    </span>
                    <i class="bi bi-cart2"></i>
                </a>
            </li>
        </ul>
      </nav>
    </div>
  </header>