{% set pathBase='inamika_backoffice_services' %} 
{% extends "InamikaBackOfficeBundle::layout.html.twig" %}
{% block body %} 
{{ parent()}}   
{{ render(controller('Inamika\\BackOfficeBundle\\Controller\\ServicesController::form',{ entity: entity})) }}  
{% endblock body %}
{% block javascripts %} 
{{ parent() }}
{% include 'InamikaBackOfficeBundle:_partials:dropifyScripts.html.twig' %}
<script>
    function beforeSuccess(){
        location.href="{{ path(pathBase) }}";
    }
    function cancell(){
        location.href='{{ path(pathBase) }}';
    }

    function changeCategory(category,subcategory){
        var url="{{ path('api_service_categories_get',{id:'ID_ENTITY'})}}";
        url=url.replace('ID_ENTITY',category);
        $("#subcategory").find('option')
        .remove()
        .end()
        .append('<option value="">{{ 'SELECT_AN_OPTION' | trans }}</option>')
        .val('');
        $.ajax({
            url: url,
            type: 'GET',
            crossDomain: true,
            success: function(data) {
                if(data.subcategories.length > 0){
                    for(var i=0; i<data.subcategories.length; i++){
                        $("#subcategory").append('<option value="'+data.subcategories[i].id+'">'+data.subcategories[i].name+'</option>');
                        if(subcategory == data.subcategories[i].id)
                            $("#subcategory").val(subcategory);
                    }
                }
            },
            complete:function(){

            },
            error: function(data, status, error) {

            },
        });     
    }
    $(function(){
        $("#category").on("change",function(){
            changeCategory($(this).val(),'');  
        });
        {% if entity is defined %}
            {% if entity.subcategory %}
                changeCategory('{{ entity.category.id }}','{{ entity.subcategory.id }}');
            {% else %}
                changeCategory('{{ entity.category.id }}','');
            {% endif %}
        {% endif %}
    });
</script>
{% endblock javascripts %}
