{% set pathBase='inamika_backoffice_services' %}
{% set pathBaseApi='api_services' %}
{% extends "InamikaBackOfficeBundle::layout.html.twig" %}
{% block body %} 
{{ parent()}}
<h3 class="card-title">
    {# {% if app.request.attributes.get('_route_params')._breadcrumbs is defined %}
        {{ (app.request.attributes.get('_route_params')['_breadcrumbs']|last)['label'] | trans }}
    {% endif %} #}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-success btn-rounded " onclick="location.href='{{ path(pathBase~'_add')}}'"><i class="fa fa-plus"></i> {{ 'ADD' | trans }}</button>
        {# <button type="button" class="btn btn-info btn-rounded " onclick="location.href='{{ path(pathBase~'_import')}}'"><i class="fa fa-upload"></i> {{ 'IMPORT' | trans }}</button> #}
    </div>
</h3>
<div class="table-responsive">
    <table id="{{ pathBase }}_dataTable" class="display nowrap table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
</div>

{{ form_start(formDelete, {'attr': {'id':id|default('formDelete')}}) }}
{{ form_widget(formDelete) }}
{{ form_end(formDelete) }}

{% include 'InamikaBackOfficeBundle:_partials:modal.html.twig' with { pathBase:pathBase} %}

{% endblock body %} 
{% block javascripts %} 
{{ parent() }}
{% include 'InamikaBackOfficeBundle:_partials:dataTableScripts.html.twig' with { pathBase:pathBase,loadData:pathBaseApi } %}
<script type="text/javascript">
    $(function () {
        $('#{{ pathBase }}_dataTable').DataTable({
            order: [[ 1, 'desc' ]],
            
            "serverSide": true,
            columns: [
                {
                    title: '',
                    orderable: false,
                    render: function (data, type, JsonResultRow, meta) {
                        if(JsonResultRow.picture){
                            return '<img src="{{ asset('uploads') }}/xs/'+JsonResultRow.picture+'"  width="40"> ';
                        }else{
                            return '<img src="{{ asset("bundles/inamikabackoffice/assets/images/no-picture.png") }}" width="40" > ';
                        }
                    }
                },
                { title:"{{ 'NAME' | trans }}",data: "name" },
                {
                    data: null,
                    orderable: false,
                    className: "text-center",
                    render: function (data, type, row) 
                    {
                        let buttons=[];
                        let buttonsHtml='';
                        buttons.push('<button data-toggle="tooltip" data-placement="top" title="Ver más" type="button" class="btn-view btn btn-outline-success btn-circle"><i class="fa fa-eye"></i></button> ');
                        {% if is_granted('ROLE_ADMIN') %}
                            buttons.push('<button data-toggle="tooltip" data-placement="top" title="Editar" type="button" class="btn-edit btn btn-outline-info btn-circle"><i class="fa fa-pencil"></i></button> ');
                            buttons.push('<button data-toggle="tooltip" data-placement="top" title="Eliminar" type="button" class="btn-remove btn btn-outline-danger btn-circle"><i class="fa fa-trash"></i></button> ');
                        {% endif %}
                        for(var i=0; i<buttons.length; i++)
                            buttonsHtml+=buttons[i];
                        return buttonsHtml;
                    }
                }
            ]
        });
    });
</script>
{% endblock %}