{% extends "InamikaBackOfficeBundle::Emails/layout.html.twig" %}
{% block body %}
<h2>{{ 'HELLO' | trans }} {{ entity.name }}!</h2>
<p>{{ 'RESET_PASSWORD_DESCRIPTION' | trans }} 
    <a href="{{ url('inamika_frontend_resetPassword',{ id : entity.id, code : entity.codeActive}) }}">
    {{ 'RESET_PASSWORD' | trans }}
    </a>
</p>
{% endblock %}