{% extends "InamikaBackOfficeBundle::Emails/layout.html.twig" %}
{% block body %}
<h2>{{ 'HELLO' | trans }} {{ entity.name }}!</h2>
<p>{{ 'RESET_PASSWORD_DESCRIPTION' | trans }} 
    {% if resetUrl is defined and resetUrl is not null %}
    <a href="{{ resetUrl | raw  }}/{{ entity.id }}/{{ entity.codeActive }}">
    {{ 'RESET_PASSWORD' | trans }}
    </a>
    {% else %}
    <a href="{{ url('security_reset_password',{ id : entity.id, code : entity.codeActive}) }}">
    {{ 'RESET_PASSWORD' | trans }}
    </a>
    {% endif %}
</p>
{% endblock %}