{% set pathBase='inamika_backoffice_users' %}
{% set pathBaseApi='api_users' %}
{% extends "InamikaBackOfficeBundle::layout.html.twig" %}
{% block body %} 
{{ parent()}}
<h3 class="card-title">
    {# {% if app.request.attributes.get('_route_params')._breadcrumbs is defined %}
       {{ (app.request.attributes.get('_route_params')['_breadcrumbs']|last)['label'] | trans }}
    {% endif %} #}
    <button type="button" class="btn btn-success btn-rounded pull-right" onclick="location.href='{{ path(pathBase~'_add')}}'"><i class="fa fa-plus"></i> {{ 'ADD' | trans }}</button>
</h3>
<div class="table-responsive">
    <table id="{{ pathBase }}_dataTable" class="display nowrap table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
</div>

{{ form_start(formDelete, {'attr': {'id':id|default('formDelete')}}) }}
{{ form_widget(formDelete) }}
{{ form_end(formDelete) }}

{% endblock body %} 
{% block javascripts %} 
{{ parent() }}
{% include 'InamikaBackOfficeBundle:_partials:dataTableScripts.html.twig' with { pathBase:pathBase,loadData:pathBaseApi } %}
<script type="text/javascript">
    $(function () {
        $('#{{ pathBase }}_dataTable').DataTable({
            order: [[ 1, 'desc' ]],
            
            "serverSide": true,
            columns: [
                {
                    title: '',
                    orderable: false,
                    render: function (data, type, JsonResultRow, meta) {
                        if(JsonResultRow.picture){
                            return '<img src="{{ asset('uploads') }}/xs/'+JsonResultRow.picture+'" class="img-circle" width="40"> ';
                        }else{
                            return '<img src="{{ asset("bundles/inamikabackoffice/assets/images/avatar_default.png") }}" class="img-circle"> ';
                        }
                    }
                },
                { title:"{{ 'NAME' | trans }}",data: "name" },
                { 
                    data: 'role', 
                    className: "text-center",
                    title: '{{ 'ROLE' | trans }}',
                    render: function (data, type, row) 
                    {
                        switch (data){
                            case 'ROLE_SUPER':
                                return 'Administrador';
                                break;
                            case 'ROLE_ADMIN':
                                return 'Editor';
                                break;
                            case 'ROLE_OPER':
                                return 'Visualizador';
                                break;
                        }
                    }
                },
                { title:"{{ 'EMAIL' | trans }}",data: "email" },
                { 
                    data: 'isActive', 
                    className: "text-center",
                    title: '{{ 'ACTIVE' | trans }}',
                    render: function (data, type, row) 
                    {
                        switch (data){
                            case true:
                                return '<span class="badge badge-pill badge-success">{{ 'YES' | trans }}</span>';
                                break;
                            default:
                                return '<span class="badge badge-pill badge-danger">{{ 'NO' | trans }}</span>';
                                break;
                        }
                    }
                },
                {
                    data: null,
                    orderable: false,
                    className: "text-center",
                    defaultContent: `
                    <button type="button" class="btn-edit btn btn-outline-info btn-circle"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn-remove btn btn-outline-danger btn-circle"><i class="fa fa-trash"></i></button>
                    `
                }
            ]
        });
    });
</script>
{% endblock %}