{% extends "InamikaFrontendBundle::layout.html.twig" %}
{% block javascripts_head %}
{{ parent()}}
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/aframe-master.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/scripts/info-message.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/scripts/fullscreen-btn.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/scripts/threecomp.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/aframe-extras.min.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/scripts/hide-on-enter-ar.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/ar-shadows.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/ar-hit-test.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/model-viewer.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/background-gradient.js"></script>
{% endblock %}
{% block stylesheet %}
{{ parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/inamikafrontend/viewer/loader.css') }}" >
    <link rel="stylesheet" href="{{ asset('bundles/inamikafrontend/viewer/embedded.css') }}" >
{% endblock %}
{% block body %}
{{ parent()}}
{{ render(controller('InamikaFrontendBundle:Utils:navbar',{ home:false , class:'no-fixed',route: app.request.get('_route') })) }}
<div class="mb-5"></div>
<section id="result" class="mt-5">
    <div class="container">
        <div class="breadcrumb-custom">
            <p><a class="beforeSpinner"  href="javascript:window.history.go(-1);"> <i class="bi bi-arrow-left"></i> Volver</a></p>
            <p>
                {% if section == 'forHome' %}
                    <span>Para Hogar | </span> 
                {% endif %}
                {% if section == 'forIndustry' %}
                    <span>Para la Industria | </span> 
                {% endif %}
                {% if section == 'forEvent' %}
                    <span>Para Eventos | </span> 
                {% endif %}
                <span><a class="beforeSpinner" href="{{ path('inamika_frontend_service',{ section:section,id:data.service.id })}}">{{ data.service.name }}</a> | </span>
                <span><a class="beforeSpinner" href="{{ path('inamika_frontend_model',{ section:section,id:data.id })}}"> {{ data.name }}</a> | </span>
                <span>Solicitar cotización</span>
            </p>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{{ path('api_cotizations_post') }}" novalidate="novalidate" class="form-material sendToApi">
                    <h4 class="card-title text-center text-dark">Formulario de cotización</h4>
                    <input type="hidden" name="model" value="{{ data.id}}">
                    <hr>
                    <div class="row py-4">
                        <div class="col-sm-12 form-group">
                            <label>Servicio</label> 
                            <input class="form-control rounded-pill py-4 px-4" readonly="readonly" type="text" name="modelName" value="{{ data.service.name}} / {{ data.name}}">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Razón Social *</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="company">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>RUT *</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="rut">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Dirección comercial *</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="comercialAddressStreet">
                        </div>
                        <div class="col-sm-2 form-group">
                            <label>Nº</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="comercialAddressNumber">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Comuna</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="comercialAddressCity">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Dirección del servicio *</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text"name="serviceAddressStreet">
                        </div>
                        <div class="col-sm-2 form-group">
                            <label>Nº</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="serviceAddressNumber">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Comuna</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="serviceAddressCity">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Nombre Completo *</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="name">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Fono *</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="phone">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>E-Mail *</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="email">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Frecuencia del servicio</label>
                            <input class="form-control rounded-pill py-4 px-4" type="text" name="frequency">
                        </div>
                        <div class="col-sm-12 form-group">
                            <label>Observaciones</label>
                            <textarea class="form-control rounded-pill py-4 px-4" name="observation"></textarea>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn-get-started rounded-pill btn-primary px-5 py-3" >Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
{{ parent()}}
    <script>
        function after200(data){
            swal({ 
                title: '¡Solicitud enviada!',
                text: 'Muchas gracias, a la brevedad nos comunicaremos contigo.',
                icon: 'success',
                allowOutsideClick: false,
                confirmButtonText: 'Aceptar'
            }, function(){
                loading.show();
                location.href="{{ path('inamika_frontend_model',{ section:section,id:data.id })}}";
            });
        }

        $(function (){
            
        })
    </script>
{% endblock %}
