{% extends "InamikaFrontendBundle::layout.html.twig" %}
{% block body %}
{{ parent()}}
{{ render(controller('InamikaFrontendBundle:Utils:navbar',{ home:true , class:'fixed', route: app.request.get('_route')})) }}
<section id="hero">
    <div class="hero-container">
        <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 text-left">
                <h1>Economía circular</h1>
                <h2 class="text-justify">Gestionamos tu patio de residuos</h2>
                <h3 class="text-justify">Con 30 años de experiencia nos hacemos cargo de tus residuos de forma responsable y eficiente.</h3>
                <a href="#services" title="Solicitar servicio" class="btn-get-started rounded-pill btn-primary">Conocer servicios</a>
            </div>
        </div>
        </div>
    </div>
</section>
<div class="container">
	<div class="row">
		<div class="col-lg-6"></div>
		<div class="col-lg-6">
			<div class="box-product-salient">
				<div id="carouselSalientHome" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner mb-2" >
                        {% for key,item in salients %}
						<div class="carousel-item {% if key == 0 %}active{% endif %}">
							<div class="row">
								<div class="col-sm-6">
									<h2>{{ item.name }} </h2>
									<a role="button" href="{{ path('inamika_frontend_product',{ id: item.id }) }}" class="beforeSpinner btn btn-block btn-primary rounded-pill btn-primary mb-3 mt-4">
										Ir a la Tienda
									</a>
								</div>
								<div class="col-sm-6">
                                    {% if item.picture %}
                                        <img class="img" style="width:100%; background-image: url('{{ asset('uploads/') }}md/{{ item.picture }}')" class="circle"> 
                                    {% else %}
                                        <img class="img" style="width:100%; background-image: url('{{ asset('bundles/inamikafrontend/no-foto.png')}}');" class="circle">
                                    {% endif %}
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
					<button class="btn-carrousel btn rounded-circle btn-outline-primary mr-2" onclick="javascript:$('#carouselSalientHome').carousel('prev')">
						<i class="bi bi-chevron-left"></i>
					</button>
					<button class="btn-carrousel btn rounded-circle btn-primary" onclick="javascript:$('#carouselSalientHome').carousel('next')">
						<i class="bi bi-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<main id="main">
    <section id="about">
        <div class="row about-container">
            <div class="col-lg-6 background order-lg-1 order-1 wow fadeInLeft d-none d-lg-block"></div>
            <div class="col-lg-6 content order-lg-2 order-2 p-5">
                <h2 class="title">Nuestra Empresa</h2>
                <p class="text-justify">
                    Estamos comprometidos en la permanente búsqueda de la calidad y excelencia de
                    nuestros procesos, productos y servicios para ser una empresa sustentable en el tiempo.
                    Lo más importante es la satisfacción de nuestros clientes, la seguridad de nuestros
                    trabajadores y el cuidado responsable del medio ambiente.
                </p>
                <div class="mb-5">
                    <div id="carouselAbout" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner mb-3">
                            <div class="carousel-item active">
                                <h3><i class="bi bi-bullseye text-primary"></i> MISIÓN</h3>
                                <p class="text-justify">Resolver proactivamente los problemas sanitarios y ambientales de nuestros clientes, creándoles valor a través de nuestros servicios.</p>
                            </div>
                            <div class="carousel-item">
                                <h3><i class="bi bi-eye text-primary"></i> VISIÓN</h3>
                                <p class="text-justify">Ser un actor relevante en la industria nacional de servicios sanitario y ambientales,
                                    trabajando con pasión para que los clientes nos reconozcan como los mejores prestadores
                                    de                                servicios.</p>
                            </div>
                            <div class="carousel-item">
                                <h3><i class="bi bi-shield-check text-primary"></i> VALORES</h3>
                                <p class="text-justify">
                                    <strong>Integridad</strong> en nuestro comportamiento,
                                    <strong>excelencia</strong> profesional,
                                    <strong>entusiasmo</strong> por encontrar una solución a la medida para cada cliente,
                                    foco en las <strong>personas</strong> y
                                    compromiso de <strong>credibilidad</strong> y confianza, son nuestros valores.</p>
                            </div>
                        </div>
                        <button class="btn-carrousel btn rounded-circle btn-outline-primary mr-2" onclick="javascript:$('#carouselAbout').carousel('prev')">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                        <button class="btn-carrousel btn rounded-circle btn-primary" onclick="javascript:$('#carouselAbout').carousel('next')">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container sustentable wow fadeInRight my-5 py-5" >
        <div class="row">
            <div class="col-md-6 text px-4">
                 <h2 style="font-weight: 900;" class=""><i class="fas fa-certificate text-primary" style=""></i> Certificados por Normas Internacionales</h2>
                <p class="text-justify mb-5">
                    En nuestro compromiso por ser los mejores y cumplir con nuestra política de
            gestión estamos certificados bajo normas internacionales ISO que avalan la calidad de
            nuestros servicios, el respeto y cuidado por el medio ambiente y la preocupación por la
            seguridad ocupacional de nuestros trabajadores.
                </p>
            </div>
            <div class="col-md-6 ">
                <div class="box-cert text-center">
                    <img class="img-fluid" style="" src="{{ asset('bundles/inamikafrontend/') }}img/testmark.png">
                    <br/>
                    <a role="button" href="{{ asset('bundles/inamikafrontend/certificadosUnisan.zip') }}" class="btn btn-primary rounded-pill btn-primary mb-3 mt-4 px-4">
                        Descargar PDF
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section id="call-to-action">
        <div class="container wow fadeIn text-center">
            <h1>Conoce <img style="width: 300px; border-radius: 10px;" src="{{ asset('bundles/inamikafrontend/')}}img/uniboxlogo.png"></h1>
            <p class="cta-text">Servicios sanitarios de lujo para todo tipo de eventos<br/>
                Una solución sustentable en base a energía solar</p>
                <a href="http://uniboxs.cl" target="_blank" title="Solicitar servicio" class="btn btn-primary rounded-pill btn-primary px-4 py-2">Ver más</a>
        </div>
    </section>
    <section id="services">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Nuestros servicios</h3>
            </div>
            <div class="row">
                <div class="col-md-2 text-center d-none d-md-block">
                    <div id="btnforIndustry"  class="icon-svg wow fadeInLeft"  data-wow-delay="0.2s" onclick="selectCategory('forIndustry');">
                         {{ include('InamikaFrontendBundle::Utils/icon_industria.html.twig') }}
                    </div>

                    <div id="btnforHome" class="icon-svg mt-4 pt-0 wow fadeInLeft" data-wow-delay="0.4s" onclick="selectCategory('forHome');">
                        {{ include('InamikaFrontendBundle::Utils/icon_hogar.html.twig') }}
                    </div>

                    <div id="btnforEvent" class="icon-svg mt-4 pt-0 wow fadeInLeft" data-wow-delay="0.6s" onclick="selectCategory('forEvent');">
                        {{ include('InamikaFrontendBundle::Utils/icon_event.html.twig') }}
                    </div>
                </div>
                
                <div class="col-xs-4 text-center d-block d-md-none">
                    <div id="btnforIndustry" style="margin-top:22px; margin-left:7px" class="icon-svg wow fadeInLeft"  data-wow-delay="0.2s" onclick="selectCategory('forIndustry');">
                         {{ include('InamikaFrontendBundle::Utils/icon_industria.html.twig') }}
                    </div>
                </div>
                <div class="col-xs-4 text-center d-block d-md-none">
                    <div id="btnforHome" class="icon-svg mt-4 pt-0 wow fadeInLeft" data-wow-delay="0.4s" onclick="selectCategory('forHome');">
                        {{ include('InamikaFrontendBundle::Utils/icon_hogar.html.twig') }}
                    </div>
                </div>
                <div class="col-xs-4 text-center d-block d-md-none">
                    <div id="btnforEvent" class="icon-svg mt-4 pt-0 wow fadeInLeft" data-wow-delay="0.6s" onclick="selectCategory('forEvent');">
                        {{ include('InamikaFrontendBundle::Utils/icon_event.html.twig') }}
                    </div>
                </div>
                <div class="col-md-10 box-service p-5">
                    {% if filters.forEvent | length > 0 %}
                        <div class="tabs-filter forEvent" style="display:none">
                            <ul>
                                <li onclick="selectFilter('forEvent',-1)" class="active" data-name="all">Todos</li>
                                {% for key, itemFilter in filters.forEvent %}
                                    <li onclick="selectFilter('forEvent',{{ key }})" data-name="{{ itemFilter.name}}" >{{ itemFilter.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if filters.forIndustry | length > 0 %}
                        <div class="tabs-filter forIndustry" style="display:none">
                            <ul>
                                <li onclick="selectFilter('forIndustry',-1)" class="active" data-name="all">Todos</li>
                                {% for key, itemFilter in filters.forIndustry %}
                                    <li onclick="selectFilter('forIndustry',{{ key }})" data-name="{{ itemFilter.name}}" >{{ itemFilter.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if filters.forHome | length > 0 %}
                        <div class="tabs-filter forHome" style="display:none">
                            <ul>
                                <li onclick="selectFilter('forHome',-1)" class="active" data-name="all">Todos</li>
                                {% for key, itemFilter in filters.forHome %}
                                    <li onclick="selectFilter('forHome',{{ key }})" data-name="{{ itemFilter.name}}" >{{ itemFilter.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="row" >
                        {% for item in services.forEvent %}
                            <div style="display:none" data-id="{{ item.id }}" class="col-md-6 col-lg-4 mb-4 card forEvent" >
                               <div class="card-service cursor-pointer" >
                                    {% if item.picture %}
                                        <div class="img" style="background-image: url('{{ asset('uploads/') }}md/{{ item.picture }}');"></div>
                                    {% else %}
                                        <div class="img" style="background-image: url('{{ asset('bundles/inamikafrontend/') }}no-foto.png');"></div>
                                    {% endif %}
                                    <div class="caption">
                                        <h4>{{ item.name }}</h4>
                                        <hr>
                                        <p class="mb-0 text-justify">{{ item.description }}</p>
                                        <div class="text-center my-4">
                                            <a role="button" href="{{ path('inamika_frontend_service',{ section:'forEvent' ,id: item.id })}}" class="btn beforeSpinner rounded-pill btn-primary btn-sm pl-3 pr-3" >Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row" >
                        {% for item in services.forIndustry %}
                            <div style="display:none" data-id="{{ item.id }}" class="col-md-6 col-lg-4 mb-4 card forIndustry" >
                               <div class="card-service cursor-pointer" >
                                    {% if item.picture %}
                                        <div class="img" style="background-image: url('{{ asset('uploads/') }}md/{{ item.picture }}');"></div>
                                    {% else %}
                                        <div class="img" style="background-image: url('{{ asset('bundles/inamikafrontend/') }}no-foto.png');"></div>
                                    {% endif %}
                                    <div class="caption">
                                        <h4>{{ item.name }}</h4>
                                        <hr>
                                        <p class="mb-0 text-justify">{{ item.description }}</p>
                                        <div class="text-center my-4">
                                            <a role="button" href="{{ path('inamika_frontend_service',{ section:'forIndustry' ,id: item.id })}}" class="btn beforeSpinner rounded-pill btn-primary btn-sm pl-3 pr-3" >Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row " >
                        {% for item in services.forHome %}
                            <div style="display:none" data-id="{{ item.id }}" class="col-md-4 col-sm-6 mb-4 card forHome" >
                               <div class="card-service cursor-pointer" >
                                    {% if item.picture %}
                                        <div class="img" style="background-image: url('{{ asset('uploads/') }}md/{{ item.picture }}');"></div>
                                    {% else %}
                                        <div class="img" style="background-image: url('{{ asset('bundles/inamikafrontend/') }}no-foto.png');"></div>
                                    {% endif %}
                                    <div class="caption">
                                        <h4>{{ item.name }}</h4>
                                        <hr>
                                        <p class="mb-0 text-justify">{{ item.description }}</p>
                                        <div class="text-center my-4">
                                            <a role="button" href="{{ path('inamika_frontend_service',{ section:'forHome' ,id: item.id })}}" class="btn beforeSpinner rounded-pill btn-primary btn-sm pl-3 pr-3" >Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="position: relative;">
        <div class="row">
            <div class="col-md-10">
                <div class="box-blue wow fadeInLeft" >
                    <div class="row">
                        <div class="col-md-8 text-right">
                            <h2>Servicios personalizados para cada cliente</h2>
                            <p class="mt-5 text-justify">
                                Ofrecemos soluciones a la medida de nuestros clientes y desarrollamos servicios en
función de sus necesidades. La búsqueda proactiva de soluciones a sus problemas nos
convierte en uno de los principales proveedores de servicios sanitarios y ambientales de la
región.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview-video wow fadeInRight d-none d-lg-block">
            <div id="carouselService" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" >
                    <div class="carousel-item active">
                        <div class="slider-cover" style="background-image: url('{{ asset('bundles/inamikafrontend/img/slider/IMG002.jpg') }}');"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="slider-cover" style="background-image: url('{{ asset('bundles/inamikafrontend/img/slider/IMG003.jpg') }}');"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="slider-cover" style="background-image: url('{{ asset('bundles/inamikafrontend/img/slider/IMG004.jpg') }}');"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="slider-cover" style="background-image: url('{{ asset('bundles/inamikafrontend/img/slider/IMG005.jpg') }}');"></div>
                    </div>
                </div>
                {# <div class="mt-4">
                <button class="btn-carrousel btn rounded-circle btn-outline-primary mr-2" onclick="javascript:$('#carouselService').carousel('prev')">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button class="btn-carrousel btn rounded-circle btn-primary" onclick="javascript:$('#carouselService').carousel('next')">
                    <i class="bi bi-chevron-right"></i>
                </button>
                </div> #}
            </div>
        </div>
    </div>
    
    <div class="container recycle mt-5" >
        <div class="row">
            <div class="col-md-6 text text-right wow fadeInLeft">
                <h2 class="px-4">¿Cómo ser parte de la economía circular?</h2>
                <p class="mt-5 px-4 text-justify">
                    Te invitamos a visitar nuestras soluciones de reciclaje y valorización, somos un agente del
cambio para el modelo de economía circular en nuestro país y ofrecemos soluciones para
cada tipo de cliente.
                </p>
                <p class="mt-5 px-4 text-justify">
                    Si eres un productor de productos prioritarios, generador de residuos valorizables, no
estás siendo eficiente en tu gestión de residuos, no estás conforme con tu modelo actual o
tan solo quieres saber más mediante una asesoría escríbenos para ayudarte.
                </p>
            </div>
            <div class="col-md-6 wow fadeInRight overflow-hidden">
                <img class="img-fluid" style="margin-top: 50px;" src="{{ asset('bundles/inamikafrontend/') }}img/reciclado.jpeg">
            </div>
        </div>
    </div>
    </section>
    <section class="row p-0 m-0" id="contact">
        <div class="col-sm-6 m-0 p-0 wow fadeInLeft">
            <div style="position:relative;text-align:right;height:570px;width:100%;">
                <div class="gmap_canvas">
                    <iframe width="100%" height="500"
                        style="overflow: hidden;background: none !important;height: 570px;width: 100%;"
                        src="https://maps.google.com/maps?q=Las%20Esteras%20Norte%202351,%20Quilicura&t=&z=15&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-6 box wow fadeInRight">
            <h2>CONTÁCTENOS</h2>
            <div class="mt-5">
                <p>Las Esteras Norte 2351, Quilicura<br/>Fono: <a href="tel:+56225772400">+ 56 2 2577 2400</a></p>
            </div>
            <div class="">
                <p>Email: <a href="mailto:contacto@unisan.cl">contacto@unisan.cl</a></p>
            </div>
            
            <h2>REDES SOCIALES</h2>
            <div class="row social mt-5">
                <div class="col-sm-7 ">
                    <p>
                        <a href="https://www.linkedin.com/company/unisan-chile/" target="_blank"><i class="bi bi-linkedin"></i> company/unisan-chile/</a>
                    </p>
                </div>
                <div class="col-sm-5 ">
                    <p>
                        <a href="https://www.instagram.com/unisan_uniboxs/" target="_blank"><i class="bi bi-instagram"></i> unisan_uniboxs/</a>
                    </p>
                </div>
            </div>
            <a role="button" href="{{ path('inamika_frontend_sendCV') }}" class="btn beforeSpinner bg-white" style="color:#3874B6"><i class="fas fa-paperclip"></i> Trabaja con nosotros</a>
        </div>
    </section>
</main>
{% endblock %}
{% block javascripts %}
{{ parent()}}
    <script>
        var filters={{ filters | json_encode | raw }};
        function selectCategory(category){
            $(".icon-svg").removeClass('active');
            $("#btn"+category).addClass('active');
            switch (category) {
                case 'forIndustry':
                    $(".forIndustry").fadeIn();
                    $(".forHome").hide();
                    $(".forEvent").hide();
                    break;
                case 'forHome':
                    $(".forIndustry").hide();
                    $(".forHome").fadeIn();
                    $(".forEvent").hide();
                    break;
                case 'forEvent':
                    $(".forIndustry").hide();
                    $(".forHome").hide();
                    $(".forEvent").fadeIn();
                    break;
                default:
                    break;
            }
        }

        function selectFilter(category,index){
            $("."+category+" ul li").removeClass("active");
            if(index > -1){
                $("."+category+" ul li[data-name='"+filters[category][index].name+"']").addClass("active");
                $("."+category+".card").hide();
                for(var i=0; i<filters[category][index].services.length; i++){
                    $("."+category+".card[data-id='"+filters[category][index].services[i]+"']").fadeIn();
                }
            }else{
                $("."+category+" ul li[data-name='all']").addClass("active");
                $("."+category+".card").fadeIn();
            }
        }
        $(function (){
            selectCategory('forIndustry');
            $.ajax({
                url: '{{ path('api_visits_post') }}',
                type: 'POST',
                crossDomain: true
            });
        })
    </script>
{% endblock %}