{% extends "InamikaFrontendBundle::layout.html.twig" %}
{% block javascripts_head %}
{{ parent()}}
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/aframe-master.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/scripts/info-message.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/scripts/fullscreen-btn.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/scripts/threecomp.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/aframe-extras.min.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/scripts/hide-on-enter-ar.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/ar-shadows.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/ar-hit-test.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/model-viewer.js"></script>
<script src="{{ asset('bundles/inamikafrontend/') }}viewer/background-gradient.js"></script>
{% endblock %}
{% block stylesheet %}
{{ parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/inamikafrontend/viewer/loader.css') }}" >
    <link rel="stylesheet" href="{{ asset('bundles/inamikafrontend/viewer/embedded.css') }}" >
{% endblock %}
{% block body %}
{{ parent()}}
{{ render(controller('InamikaFrontendBundle:Utils:navbar',{ home:false , class:'no-fixed',route: app.request.get('_route') })) }}
<div class="mb-5"></div>
<section id="result" class="mt-5">
    <div class="container">
        <div class="breadcrumb-custom">
            <p><a class="beforeSpinner"  href="javascript:window.history.go(-1);"> <i class="bi bi-arrow-left"></i> Volver</a></p>
            <p>
                {% if section == 'forHome' %}
                    <span>Para Hogar | </span> 
                {% endif %}
                {% if section == 'forIndustry' %}
                    <span>Para la Industria | </span> 
                {% endif %}
                {% if section == 'forEvent' %}
                    <span>Para Eventos | </span> 
                {% endif %}
                <span><a class="beforeSpinner" href="{{ path('inamika_frontend_service',{ section:section,id:data.service.id })}}">{{ data.service.name }}</a> | </span>
                <span>{{ data.name }}</span>
            </p>
        </div>
        <div class="product_view">
            <div class="row" *ngIf="ready">
                <div class="col-md-6 py-4 px-5 wow fadeInLeft">
                    {% if not data.model3d %}
                        {% if data.picture %}
                            <img  src="{{ asset('uploads/') }}lg/{{ data.picture }}" class="w-100" alt="{{ data.name }}">
                        {% else %}
                            <img  src="{{ asset('bundles/inamikafrontend/no-foto.png') }}" class="w-100" alt="{{ data.name }}">
                        {% endif %}
                    {% else %}
                        <div id="modelPath" data-model="{{ asset('uploads/models3d/') }}{{ data.model3d }}"></div>
                        <div class="embedded-example">
                            <a-scene embedded renderer="colorManagement: true;" fullscreen-btn model-viewer>
                                <div id="splash">
                                    <div class="loading"></div>
                                </div>
                                <a-assets>
                                    <a-asset-item id="ACON" src=""></a-asset-item>
                                    <img id="shadow" src="{{ asset('bundles/inamikafrontend/') }}viewer/shadow.png">
                                </a-assets>
                            </a-scene>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6 description wow fadeInRight">
                    <h3>{{ data.name }}</h3>
                    <hr class="blue mt-4 mb-4">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>DESCRIPCION</h5>
                            <p class="text-justify">{{ data.description  | nl2br}}</p>
                        </div>
                        <div class="col-md-6">
                            <h5>CONDICIONES</h5>
                            <p class="text-justify">{{ data.conditions  | nl2br}}</p>
                        </div>
                        <div class="col-md-12">
                            <h5>ESPECIFICACIÓN</h5>
                            <p class="text-justify">{{ data.spec  | nl2br}}</p>
                        </div>
                    </div>
                    
                    <hr>
                    <div class="text-center my-5">
                        <button onclick="loading.show();location.href='{{ path('inamika_frontend_cotization',{ modelId: data.id, section:section }) }}'" class="btn rounded-pill btn-primary p-4" (click)="goToCotization(item.id)">
                            <span class="text-uppercase">Solicitar cotización</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
