{% set pathBase='inamika_backoffice_popups' %} 
{% extends "InamikaBackOfficeBundle::layout.html.twig" %}
{% block body %} 
{{ parent()}}   
{{ render(controller('Inamika\\BackOfficeBundle\\Controller\\PopupsController::form',{ entity: entity})) }}  
{% endblock body %}
{% block javascripts %} 
{{ parent() }}
{% include 'InamikaBackOfficeBundle:_partials:dropifyScripts.html.twig' %}
<script>
    var notes=[];
    $(function (){
        {% if entity is defined %}
            {% for note in entity.notes %}
                notes.push({
                    'id':'{{ note.id}}',
                    'name':'{{ note.name}}',
                    'picture':'{{ note.picture}}',
                    'description':'{{ note.description}}',
                    'isDelete':'{{ note.isDelete}}'
                });
            {% endfor %}
            renderNotes();
        {% endif %}
    });

    function beforeSuccess(){
        location.href="{{ path(pathBase) }}";
    }
    function cancell(){
        location.href='{{ path(pathBase) }}';
    }
    function add(){
        notes.push({
            id   : '',
            name : '',
            description : '',
            picture : '',
            isDelete : ''
        });
        renderNotes();
    }
    function remove(i){
        notes[i].isDelete=1;
        renderNotes();
    }
    
    function press(i){
        notes[i].name=$("#"+i+"_input").val();
        notes[i].description=$("#"+i+"_description").val();
        notes[i].picture=$("#"+i+"_picture").val();
    }

    function renderNotes(){
        $("#notes").html('');
        for (let i = 0; i < notes.length; i++) {
            if(!notes[i].isDelete){
                $("#notes").append(`
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="text" id="${i}_input" placeholder="{{ 'TITLE' | trans }}" onkeyup="press(${i})" class="form-control" value="${notes[i].name}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="${i}_picture" placeholder="{{ 'PICTURE' | trans }}" onkeyup="press(${i})" class="form-control" value="${notes[i].picture}">
                        </div>
                        <div class="form-group">
                            <textarea id="${i}_description" placeholder="{{ 'DESCRIPTION' | trans }}" onkeyup="press(${i})" class="form-control">${notes[i].description}</textarea>
                        </div>
                    </td>
                    <td class="text-center align-middle">
                        <button data-toggle="tooltip" data-placement="top" title="Eliminar" type="button" onclick="remove(${i})" class="btn-remove btn btn-outline-danger btn-circle"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>`);
                $('.dropify').dropify({
                    messages: {
                        'default': '{{ 'DRAG_AND_DROP_FILE' | trans }}',
                        'replace': '{{ 'DRAG_AND_DROP_OR_REPLACE' | trans }}',
                        'remove':  '{{ 'DELETE' | trans }}',
                        'error':   '{{ 'ERROR' | trans }}'
                    },
                    error: {
                        'fileSize': '{{ 'FILE_VERY_LONG' | trans }}',
                        'imageFormat': '{{ 'FILE_format' | trans }}'
                    }
                });
                $('.dropify-clear').on("click",function (){
                    var $inputRemove=$("input[name='"+$(this).siblings("input").attr("name")+"Remove']");
                    if($inputRemove.length>0){
                        $inputRemove.val("true");
                        $.toast({
                            heading: '{{ 'WARNING' | trans }}',
                            text: '{{ 'THE_ITEM_WAS_REMOVED' | trans }}',
                            position: 'top-right',
                            icon: 'warning',
                            hideAfter: 5000, 
                            stack: 6
                        });
                    }
                });
            }
        }
    }

    function preRequest() {
        return {
            notes:notes
        }
    }
</script>
{% endblock javascripts %}
