<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'NAME' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.name }}</h5>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'EMAIL' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.phone }}</h5>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'PHONE' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.phone }}</h5>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'MOBILE' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.mobile }}</h5>
		</div>
	</div>
</div>
