<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ setting.getData.title }} {% if app.request.attributes.get('_route_params')._breadcrumbs is defined %} - {{ (app.request.attributes.get('_route_params')['_breadcrumbs']|last)['label'] | trans }}{% endif %}
    {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mauricio Ampuero">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/inamikabackoffice/assets/images/favicon.png') }}">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/css/colors/default-dark.css') }}" id="theme" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/css/custom.css') }}" id="theme" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/dropify/dist/css/dropify.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/assets/plugins/Magnific-Popup-master/dist/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/css/pages/user-card.css') }}" id="theme" rel="stylesheet">
    <link href="{{ asset('bundles/inamikabackoffice/plugins/jquery-ui/jquery-ui.css') }}" id="theme" rel="stylesheet">
    {% block stylesheet %}
    {% endblock %}
</head>
<body class="fix-header card-no-border fix-sidebar">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Cargando, por favor espere...</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            {{ include('InamikaBackOfficeBundle::header.html.twig') }}
        </header>
        {{ include('InamikaBackOfficeBundle::leftMenu.html.twig') }}
        <div class="page-wrapper">
            <div class="container-fluid">
                {% block headerPage %}
                {% include 'InamikaBackOfficeBundle:_partials:headerPage.html.twig' %}
                {% endblock %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% block body %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                Powered by <a href="http://apachecms.com.ar" target="_blank"><img class="inamika-footer" src="{{ asset('bundles/inamikabackoffice/') }}assets/images/apachecms.png" alt="Inamika" /></a>
            </footer>
        </div>
    </div>
    {% block javascripts %}
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/waves.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/sidebarmenu.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/custom.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/js/inamika.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script> 
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/toast-master/js/jquery.toast.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('bundles/inamikabackoffice/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js') }}"></script>
    <script>
    var dataExtra=[];
    var gallery = [];
    var loading={
        show: function (text){
            if(typeof text !== "undefined") $('#loading').attr('data-text',text);
            {# $('#loading').show(); #}
            $(".preloader").fadeIn();
            return true;
        },
        hide: function (){
            {# $('#loading').removeAttr('data-text');
            $('#loading').hide(); #}
            $(".preloader").fadeOut();
            return true;
        }
    }
    function getSpin(size){
        if(typeof size == 'undefined') size='fa-3x';
        return `<div class="text-center"><i class="fa fa-refresh fa-spin ${size} fa-fw"></i></div>`;
    }
    function nl2br (str, is_xhtml) {
        if (typeof str === 'undefined' || str === null) {
            return '';
        }
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    }
    function encodeImageFileAsURL(element) {
        var file = element.files[0];
        file.base64="";
        var reader = new FileReader();
        reader.onloadend = function() {
            file.base64=reader.result;
            $("input[name='"+$(element).attr("name")+"Base64']").val(reader.result);
        }
        reader.readAsDataURL(file);
    }

    function checkArray(data, formData) {
        var n = formData.name.indexOf("[]");
        if (n != -1) {
            if(typeof data[formData.name.replace("[]","")] == 'undefined')
                data[formData.name.replace("[]","")] = [];
            data[formData.name.replace("[]","")].push(formData.value);
        } 
    }

    function preRequest(){
        return {};
    }
    function showRequest(formData, form, options) { 
        loading.show('{{ 'loading' | trans }}');
        var inputs=form.closest('form').find(':input:not(.dropify)');
        inputs.removeClass('error');
        inputs.next('small').html('');
        form.closest('form').find(':submit').attr('disabled',true);

        var data=preRequest();
        data['plainPassword']={ 
                    first:'',
                    second:''
                }
        for (var i = formData.length - 1; i >= 0; i--) {
            checkArray(data,formData[i]);
            if(formData[i].name=='plainPassword[first]'){
                data['plainPassword'].first=formData[i].value;
            }else if(formData[i].name=='plainPassword[second]'){
                data['plainPassword'].second=formData[i].value;
            }else{
                data[formData[i].name]=formData[i].value;
            }
        }
        
        {# console.log(formData);
        console.log(data);
        return false; #}
        
        // console.log($(".dropify-preview span.dropify-render img").attr("src"));
        // console.log(data);
        // return false;


        /** Add elements Gallery **/
        data.gallery=gallery;
        var method=($('input[name="_method"]').length>0)?$('input[name="_method"]').val():form.attr("method");
        $.ajax({
            url: form.attr("action"),
            type: method.toUpperCase(),
            data:JSON.stringify(data),
            crossDomain: true,
            success: function(data) {
                beforeSuccess(data);
            },  
            complete:function(){
                form.closest('form').find(':submit').attr('disabled',false);
            },
            error: function(data, status, error) {
                loading.hide();
                data.responseJSON.form=data.responseJSON.form.errors;
                console.log(data.responseJSON.form);
                form.closest('form').find(':submit').attr('disabled',false);
                $.toast({
                    heading: '{{ 'ERROR' | trans }}',
                    text: '{{ 'ERROR_GENERAL' | trans }}',
                    position: 'top-right',
                    icon: 'error',
                    hideAfter: 3000, 
                    stack: 6
                });
                $.each( data.responseJSON.form.children, function( index, item ){
                    if(typeof item.children != "undefined"){
                        //console.log("children",item);
                        $.each( item.children, function( index2, children_ ){
                            if(typeof children_.errors != "undefined" && children_.errors.length>0){
                                data.responseJSON.form.children[index+'_'+index2]=children_;
                            }
                        });
                        
                    }
                });
                $.each( data.responseJSON.form.children, function( index, item ){ 
                    if(typeof item.errors != "undefined" && item.errors.length>0){
                        if($('#error_'+form.attr("name")+'_'+index).length > 0){
                            if(form.attr("name")!=undefined){
                                $('#error_'+form.attr("name")+'_'+index).html(item.errors[0]);
                            }else{
                                $('#error_'+index).html(item.errors[0]);
                            }
                            $('#error_'+index).html(item.errors[0]);
                        }else{
                            if(form.attr("name")!=undefined){
                                var input=$('#'+form.attr("name")+'_'+index);
                            }else{
                                var input=form.closest('form').find(':input[name='+index+']');
                            }
                            var input=$('#'+index);
                            input.addClass('error');
                            input.after('<small class="text-danger">'+item.errors[0]+'</small>');
                        }
                    }
                    
                });
            }
        });
        return false;
    }         

    $(function (){
        
        

        // ============================================================== 
        // Theme options
        // ==============================================================     
        $(".sidebartoggler").on('click', function() {
            if ($("body").hasClass("mini-sidebar")) {
                $("body").trigger("resize");
                $("body").removeClass("mini-sidebar");
                $('.navbar-brand span').show();
                var menuDisplay="large";
            } else {
                $("body").trigger("resize");
                $("body").addClass("mini-sidebar");
                $('.navbar-brand span').hide();
                var menuDisplay="small";
            }
            $.ajax({
                url:"{{ path('api_users_put_attribute',{ id: app.user.id })}}",
                type: 'PUT',
                data:JSON.stringify({ menuDisplay: menuDisplay })
            });
        });

        /* Seteo el menu segun la variable del usaurio */
       
        {% if app.user.menuDisplay == 'small' %}
            setTimeout(function(){ 
                $("body").trigger("resize");
                $("body").addClass("mini-sidebar");
                $('.navbar-brand span').hide();
            }, 0);
        {% endif %}

        var options = {
            dataType:'json',
            beforeSubmit: showRequest
        };
        $( "form.sendToApi" ).ajaxForm(options);
        {% for message in app.session.flashBag.get('success') %}
        $.toast({
            heading: '{{ 'SUCCESS' | trans }}',
            text: '{{ message }}',
            position: 'top-right',
            icon: 'success',
            hideAfter: 3000, 
            stack: 6
        });
        {% endfor %}
        {% for message in app.session.flashBag.get('warning') %}
        $.toast({
            heading: '{{ 'WARNING' | trans }}',
            text: '{{ message }}',
            position: 'top-right',
            icon: 'warning',
            hideAfter: 3000, 
            stack: 6
        });
        {% endfor %}
        {% for message in app.session.flashBag.get('danger') %}
        $.toast({
            heading: '{{ 'ERROR' | trans }}',
            text: '{{ message }}',
            position: 'top-right',
            icon: 'error',
            hideAfter: 3000, 
            stack: 6
        });
        {% endfor %}
    });
    </script>
    {% endblock %}
</body>
</html>
