<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="{% if (app.request.get('_route') == 'inamika_backoffice_homepage') %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_homepage')}}" aria-expanded="false">
                        <i class="mdi mdi-gauge"></i><span class="hide-menu">{{ 'DASHBOARD' | trans }}</span>
                    </a>
                </li>
                <li class="{% if ('inamika_backoffice_orders' in app.request.get('_route')) %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_orders')}}" aria-expanded="false">
                        <i class="mdi mdi-truck-delivery"></i><span class="hide-menu">{{ 'ORDERS' | trans }}</span>
                    </a>
                </li>
                <li class="{% if ('inamika_backoffice_customers' in app.request.get('_route') ) %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_customers')}}" aria-expanded="false">
                        <i class="mdi mdi-account"></i><span class="hide-menu">{{ 'CUSTOMERS' | trans }}</span>
                    </a>
                </li>
                <li class="{% 
                if 'inamika_backoffice_products' in app.request.get('_route') or
                'inamika_backoffice_categories' in app.request.get('_route') 
                %}active{% endif %}">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-barcode"></i><span class="hide-menu">{{ 'PRODUCTS' | trans }}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="idebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_categories' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_categories')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'CATEGORIES' | trans }}</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_products' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_products')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'ALL_PRODUCTS' | trans }} </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{% 
                if 'inamika_backoffice_services' in app.request.get('_route') or
                'inamika_backoffice_models' in app.request.get('_route') or
                'inamika_backoffice_service_categories' in app.request.get('_route') or
                'inamika_backoffice_filters' in app.request.get('_route') or
                'inamika_backoffice_cotizations' in app.request.get('_route') 
                %}active{% endif %}">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-package"></i><span class="hide-menu">{{ 'SERVICES' | trans }}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_services' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_services')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'SERVICES' | trans }} </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_models' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_models')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'MODELS' | trans }} </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_filters' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_filters')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'FILTERS' | trans }} </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_cotizations' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_cotizations')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'COTIZATIONS' | trans }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                 <li class="{% 
                if 'inamika_backoffice_setting' in app.request.get('_route') or
                'inamika_backoffice_users' in app.request.get('_route') or
                'inamika_backoffice_ejecutives' in app.request.get('_route') or
                'inamika_backoffice_popups' in app.request.get('_route') 
                %}active{% endif %}">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-settings"></i><span class="hide-menu">{{ 'SETTING' | trans }}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="idebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_popups' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_popups')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'POPUPS' | trans }}</span>
                            </a>
                        </li>
                        <li class="idebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_ejecutives' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_ejecutives')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'EJECUTIVES' | trans }}</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_SUPER') %}
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_users' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_users')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'USERS' | trans }} </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link {% if 'inamika_backoffice_setting' in app.request.get('_route') %}active{% endif %}" href="{{ path('inamika_backoffice_setting')}}" aria-expanded="false">
                                <i class="mdi mdi-minus"></i>
                                <span >{{ 'SETTING' | trans }} </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>