<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                {# <li class="nav-small-cap">PERSONAL</li> #}
                {# <li class="{% if (app.request.get('_route') == 'inamika_backoffice_homepage') %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_homepage')}}" aria-expanded="false">
                        <i class="mdi mdi-gauge"></i><span class="hide-menu">{{ 'DASHBOARD' | trans }}</span>
                    </a>
                </li> #}
                <li class="{% if 'inamika_backoffice_orders' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_orders')}}" aria-expanded="false">
                        <i class="mdi mdi-truck-delivery"></i><span class="hide-menu">Pedidos</span>
                    </a>
                </li>
                <li class="{% if 'inamika_backoffice_products' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_products')}}" aria-expanded="false">
                        <i class="mdi mdi-silverware"></i><span class="hide-menu">{{ 'PRODUCTS' | trans }}</span>
                    </a>
                </li>
                <li class="{% if 'inamika_backoffice_customers' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_customers')}}" aria-expanded="false">
                        <i class="mdi mdi-account-card-details"></i><span class="hide-menu">{{ 'CUSTOMERS' | trans }}</span>
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER') %}
                {# <li class="nav-small-cap">{{ 'USERS' | trans }}</li> #}
                <li class="{% if 'inamika_backoffice_users' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_users')}}" aria-expanded="false">
                        <i class="mdi mdi-account"></i><span class="hide-menu">{{ 'USERS' | trans }}</span>
                    </a>
                </li>
                <li class="{% if 'inamika_backoffice_setting' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('inamika_backoffice_setting')}}" aria-expanded="false">
                        <i class="mdi mdi-settings"></i><span class="hide-menu">{{ 'SETTING' | trans }}</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>